@using yemekhane_otomasyon.Models.Siniflar;
@model  List<Ogrenci>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br/>

<table class="table table-striped">

    <tr>
        <th>Ogrenci Id</th>
        <th>Ogrenci Görsel</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>TC</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var i in Model)
            {
            <tr>
                <td>@i.OgrenciID</td>
                <td>@i.OgrenciGorsel</td>
                <td>@i.OgrenciAd</td>
                <td>@i.OgrenciSoyad</td>
                <td>@i.OgrenciTc</td>

                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-warning">Güncelle</a></td>
                <td><a href="#" class="btn btn-default" style="background-color:lightcoral">Detaylar</a></td>


            </tr>
            }
</table>

