@model yemekhane_otomasyon.Models.Siniflar.Ogrenci
@{
    ViewBag.Title = "YeniOgrenci";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br/>

<h2>Yeni Öðrenci Ekle</h2>

<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.OgrenciAd)
    @Html.TextBoxFor(x => x.OgrenciAd, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.OgrenciSoyad)
    @Html.TextBoxFor(x => x.OgrenciSoyad, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.OgrenciNumara)
    @Html.TextBoxFor(x => x.OgrenciNumara, new { @class = "form-control" })
<br />
@*@Html.LabelFor(x => x.OgrenciSifre)
    @Html.TextBoxFor(x => x.OgrenciSifre, new { @class = "form-control" })
<br />*@

@Html.LabelFor(x => x.OgrenciMail)
    @Html.TextBoxFor(x => x.OgrenciMail, new { @class = "form-control" })
</form>
