
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using yemekhane_otomasyon.Models.Siniflar;
@model List<Yemekler>
<br />

<h2>Yemek Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>YEMEK TUR ID</td>
        <td>YEMEK TUR</td>
        <td>YEMEK ID</td>
        <td>YEMEK ADI</td>
        <td>YEMEK STOK</td>
        <td>FİYAT</td>
        <td>SİL</td>
        <td>GÜNCELLE</td>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>
                @if (u.YemekTur != null)
                {
                    @u.YemekTur.YemekTurID
                }
            </td>
            <td>
                @if (u.YemekTur != null)
                {
                    @u.YemekTur.YemekTurAd
                }
            </td>

            <td>@u.YemekId</td>
            <td>@u.YemekAd</td>
            <td>@u.YemekStok</td>
            <td>@u.Fiyat</td>
            <td>
                <a href="/Yemekler/YemekSil/@u.YemekId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Yemekler/YemekGetir/@u.YemekId" class="btn btn-success">Güncelle</a>
            </td>
        </tr>
    }
</table>


<a href="/Yemekler/YeniYemek/" class="btn btn-info">Yeni Yemek</a>
