
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using yemekhane_otomasyon.Models.Siniflar;
@model List<Yemekler>
<br />

<h2>Yemek Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>YEMEK TUR ID</td>
        <td>YEMEK TUR</td>
        <td>YEMEK ID</td>
        <td>YEMEK ADI</td>
        <td>YEMEK STOK</td>
        <td>FİYAT</td>
    </tr>
    @foreach (var u in Model)
    {
        <tr>

            <td>@u.YemekTur.YemekTurID</td>
            <td>@u.YemekTur.YemekTurAd</td>
            <td>@u.YemekId</td>
            <td>@u.YemekAd</td>
            <td>@u.YemekStok</td>
            <td>@u.Fiyat</td>
        </tr>
    }
</table>
<a href="/Yemekler/YeniYemek/" class="btn btn-info">Yeni Yemek</a>
