@model yemekhane_otomasyon.Models.Siniflar.Yemekler
@{
    ViewBag.Title = "YemekGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yemek Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("YemekGuncelle", "Yemek", FormMethod.Post)) {
    @Html.LabelFor(x => x.YemekAd)
    @Html.TextBoxFor(x => x.YemekAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.YemekStok)
    @Html.TextBoxFor(x => x.YemekStok, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.YemekTurId)
    @Html.DropDownListFor(x => x.YemekTurId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.YemekTurId, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.Durum)
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>

}