@model yemekhane_otomasyon.Models.Siniflar.Yemekler
@{
    ViewBag.Title = "YeniYemek";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Yemek Ekleme</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.YemekAd)
    @Html.TextBoxFor(x => x.YemekAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.YemekStok)
    @Html.TextBoxFor(x => x.YemekStok, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.YemekTur.YemekTurAd)
    @Html.TextBoxFor(x => x.YemekTur.YemekTurAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
